@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  line-height: 1.6;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

header {
  padding: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}
.min-h-100 {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.content-center {
  align-items: center;
  justify-content: center;
}

.content-left {
  align-items: left;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

// margin

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-150 {
  margin-bottom: 150px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

// margin

.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-40 {
  margin: 40px;
}
.m-50 {
  margin: 50px;
}
.m-60 {
  margin: 60px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-auto {
  margin-left: auto;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.max-w-200 {
  max-width: 200px;
}

.max-w-300 {
  max-width: 300px;
}

.max-w-400 {
  max-width: 400px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-700 {
  max-width: 700px;
}

.max-w-1000 {
  max-width: 1000px;
}
.max-h-200 {
  max-height: 200px;
}
.max-h-400 {
  max-height: 400px;
}
.max-h-500 {
  max-height: 500px;
}
.max-h-700 {
  max-height: 700px;
}
.max-h-1000 {
  max-height: 1000px;
}

.as-start {
  align-self: flex-start;
}

.g-10 {
  gap: 10;
}

.g-20 {
  gap: 20;
}

.g-30 {
  gap: 30;
}

.g-40 {
  gap: 40;
}

.g-50 {
  gap: 50;
}

.f1 {
  flex: 0.1;
}

.f2 {
  flex: 0.2;
}
.f3 {
  flex: 0.3;
}
.f4 {
  flex: 0.4;
}
.f5 {
  flex: 0.5;
}
.f6 {
  flex: 0.6;
}
.f7 {
  flex: 0.7;
}
.f8 {
  flex: 0.8;
}
.f9 {
  flex: 0.9;
}
.f100 {
  flex: 1;
}

.pos-fixed {
  position: fixed;
}

.pos-abs {
  position: absolute;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: 'Lato';
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--color-border);
}

.ck-content {
  font-family: 'Lato';
  line-height: 1.6;
  word-break: break-word;
  font-weight: 900;
  min-height: 400px;
}

.editor-container_inline-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

.editor-container_include-block-toolbar {
  margin-left: 42px;
  background-color: var(--color-background-mute);
  border-radius: 10px;
}

.minimal-input {
  width: 40%;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  font-weight: 700;
}

.minimal-input::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}

.minimal-input:focus {
  outline: none;
  border-color: var(--color-border-hover);
  box-shadow: 0 0 5px var(--color-border-hover);
}

.warning-bubble {
  display: inline-block;
  background-color: #fff3cd;
  color: #856404;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ffeeba;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.clean-button {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
  height: min-content;
}

.clean-button:hover {
  background-color: var(--color-border-hover);
  border-color: var(--color-border-hover);
  color: var(--color-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.clean-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Optionnel : anneau de focus pour l'accessibilité */
}

.main-block {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Simple et épuré */
  padding: 20px; /* Ajoute un peu de padding pour l'esthétique */
  border-radius: 8px; /* Optionnel : ajoute des coins arrondis */
  background-color: var(--color-background-soft); /* Utilise tes variables de style */
}
